body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* images display row format */

.images {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

/* image size and background color */

.images img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  object-fit: cover;
}

.images li {
  position: relative;
  width: calc(100% / 4 - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}

/* tooltip effects */

.folder {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #fff;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  z-index: 1;
  right: 24px;
  bottom: -4px;
}

/* hover effects */

.images li img:hover {
  box-shadow: 0 0 5px #aaaaaa;
}

.folder:hover .tooltiptext {
  visibility: visible;
}

.folder .tooltiptext::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 84px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* modelbox styles */

.dialogbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.dialogboxcontent {
  background-color: #fefefe;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70%;
  position: relative;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  right: 4px;
  top: -4px;
  line-height: 1;
}

.imageholder {
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: center;
  margin-top: 48px;
}

/* animation of popup */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* swipper styles */
.swiper-container {
  width: 600px;
  height: 300px;
}

/* responsive for tablet device */

@media only screen and (max-width: 768px) {
  .images li {
    position: relative;
    width: calc(100% / 2 - 16px);
    margin-right: 16px;
  }
}

/* responsive for small devices like mobile and others below tablet */

@media only screen and (max-width: 600px) {
  .images li {
    position: relative;
    width: calc(100% - 16px);
    margin-right: 16px;
  }
  .dialogboxcontent {
    width: 85%;
    height: 35%;
  }
}
